html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: white;
  color: white;
  font-family: "PT Sans", sans-serif;

}

a:active,
a:hover {
  outline: 0;
}

@font-face {
  font-family: "responsivenav";
  src: url("../icons/responsivenav.eot");
  src: url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: white; /* edit this to change the icon color */
  font: normal 50px/55px "responsivenav"; /* edit font-size (28px) to change the icon size */
  text-transform: none;
  text-align: center;
  position: absolute;
  content: "\2261"; /* hamburger icon */
  text-indent: 0;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-toggle.active:before {
  font-size: 35px;
  content: "\78"; /* X/close icon */
  font-family: 'PT Sans', sans-serif;

}


.nav-collapse ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: flex-end;
}

.nav-collapse li {
  display: block;
}

.js .nav-collapse {
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
}

.nav-collapse.opened {
  max-height: 9999px;
}

header{
  display: flex;
  justify-content: space-between;
  background-color: #2B3A67;
  padding: 5px;
  z-index: 3;
  width: 100%;
}

h1{
  padding-left: 20px;
  display: flex;
  align-items: center;
  width: 80%
}

.logo {
  text-decoration: none;
  font-weight: bold;
  line-height: 55px;
  padding: 0 20px;
  color: black;
}

.nav-collapse,
.nav-collapse * {
  box-sizing: border-box;
}

.nav-collapse,
.nav-collapse ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: end;
}

.menu-item a:hover {
  text-decoration: underline;
}

.nav-collapse a {
  text-decoration: none;
  padding: 0.7em 1em;
  color: white;
  width: 100%;
  display: block;
  font-family: PT Sans, sans-serif;
  font-size: 1.2rem;
}

.nav-collapse ul ul a {
  padding-left: 2em;
}

.welcome-box{
  background: #2B3A67;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.learn-more{
  background: white;
  font-size: .9rem;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  border-radius: 5px;
  border: none;
  margin-top: 15px;
  padding: 10px 20px;
  transition: all 0.5s;
  text-transform: uppercase;

}

.learn-more:hover, .learn-more:focus{
  background: #66999B;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.form-container{
  background: white;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.2rem;
}

label{
  margin-top: 10px;
}

input{
  padding: 10px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input:hover, input:focus{
  outline: 3px solid #66999B;
}

#contact-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit{
  background-image: linear-gradient(to right, #66999B, #496A81, #2B3A67);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  width: 90%;
  padding: 10px;
  font-size: .9rem;
  text-transform: uppercase;
  transition: all 0.8s ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.submit:before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #66999B;
  transition: 0.8s ease-in-out;
  z-index: -1;
}

.submit:hover:before {
  width: 100%;
}

.submit:hover{
  color: white;
}

.image-gallery {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

img{
  width: 90%;
  border-radius: 20px;
  height: 350px;
  object-fit: cover;
  object-position: center;
  transition: transform 0.5s ease;
}

img:hover, img:focus {
  animation: bigger 0.7s forwards;
}

@keyframes bigger {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

footer{
  padding: 20px;
  background-color: #2B3A67;
  margin-top: 20px;
  font-size: 1.2rem;
}

@media screen and (min-width: 700px) {
  .nav-collapse ul {
  flex-direction: row;
  align-items: flex-end;
}
  
  .nav-collapse li {
    width: auto;
  }

  .nav-collapse a {
    padding: 1.02em 2em;
    text-align: center;
    border-top: 0;
    margin: 0;
  }

  .nav-collapse ul ul a {
    display: none;
  }

  .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;}

  .image-gallery {
    flex-direction: row;
    justify-content: center;
  }

  img{
    width: 20%;
  }
  
  .content-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 90%;
    align-self: center;
    margin: 0 auto;
  }


  .welcome-box{
    flex: 0.5 1 30%;
  }
  
  .form-container{
    flex: 2 1 60%;
  }

  #contact-form{
    width: 90%;
  }

}
